#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

input:active, input:focus, textarea:active, textarea:focus  {
  border: none;
  outline: none;
  box-shadow: none;
  border: 1px solid #001C2F;
  border-radius: 0px;
  }


.lightbox-container i, .icon i {
  cursor: pointer;
}


.image-box {
  width: 900px;
  height: 680px;
  display: flex;
  justify-content: center;
}

.image-box img {
  max-width: 840px;
  width: 840px;
  max-height: 600px;
  height: 600px;
  object-fit: cover;
  overflow: hidden;
}

.lightbox-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
}
  
  .preview-box{
    position: absolute;
    background: #ffffff;
    z-index: 5;
    display: none;
    padding: 40px;
  }


  .preview-box.show{
    display: block;
  }


.image-box {
  color: #901C1C;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.image-box .slide {
  margin-left: 20px;
  margin-right: 20px;
  display: block;
}

.details {
  width: 100%;
  text-align: right;
  margin-right: 20px;
  color: #901C1C;
  font-size: 30px;
}

.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(255,255,255,0.45);
}

form {
  position: fixed;
  background-color: #DB8876;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
  display: block;
  width: 480px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

form label {
  display: block;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

form input, form textarea {
  display: block;
  resize: none;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #001C2F;
}

textarea {
  height: 120px;
}

.modal-header {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header i {
  font-size: 30px;
  margin-bottom: 40px;
}

.modal-header h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 40px;
}

.form-containers span {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button.contact_button:hover {
background-color:#DB8876;
}

button.contact_button:focus {
  background-color:#DB8876;
  }
  
  button.image {
    background-color: #ffffff;
  }