@import url("photographer.css");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

html {
    overflow-y: scroll;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 1720px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img, .photograph-pic img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.medias-list img, article video {
    object-fit: cover;
    height: 400px;
    width: 460px;
    border-radius: 8px;
}

.photographer_section p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.card-loc {
font-weight: 400;
font-size: 14px;
text-align: center;
color: #901C1C;
}

.card-tagline {
font-weight: 400;
font-size: 11px;
line-height: 13px;
text-align: center;
color: #000000;
}

.card-price {
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;
color: #757575;
}


.photograph-infos {
    text-align: left;
}

.photograph-infos h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
    text-align: left;
}

.photograph-infos .card-loc {
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    text-align: left;
}

.photograph-infos .card-tagline {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
    margin-top: 12px;
    text-align: left;
}

.photograph-header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    width: 1720px;
}


.dislike {
    display: none;
}

* {
    transition: ease-in-out 0.4s;
}

.likes-container {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #911C1C;
}

.medias-footer i {
    cursor: pointer;
}

.medias-list {
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.medias-list article {
    margin-bottom: 30px;
}

.media-title {
font-weight: 400;
font-size: 24px;
line-height: 31px;
color: #911C1C;
}

.medias-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer {
background: #DB8876;
border-radius: 5px;
width: 320px;
position: fixed;
bottom: 0%;
right: 2%;
display: flex;
padding: 20px;
justify-content: space-between;
font-weight: 500;
font-size: 24px;
line-height: 31px;
color: #000000;
}

.block {
    display: block;
}

.total-likes {
    display: inline-block;
}

.filters {
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.filters i {
    margin-left: 16px;
    margin-right: 16px;
}

.filter02, .filter03 {
background: #911C1C;
border-top: 1px solid #ffffff;
width: 170px;
padding: 10px;
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
border-radius: 5px;
cursor: pointer;
display: block;
text-align: left;
}

* button {
border: 0px;
box-shadow: 0px;
}

.filter-aff {
    margin-left: 100px;
    display: none;
    position: absolute;
}

.filter-style-visible {
    display: block;
}

#popularite {
    margin-right: 20px;
}

.popfilter {
    display: flex;
    justify-content: space-between;
    margin-left: 99px;
    margin-top: -20px;
background: #911C1C;
width: 170px;
padding: 10px;
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
display: flex;
align-items: center;
border-radius:5px;
cursor: pointer;
}